// **************************************
// @Variables: variables
// **************************************

// Colores
$color-texto: #646364;
$color-texto-newsletter: #FDFFFE;

$color-degradado1: #1C6B8F;
$color-degradado2: #0FFDE0;

