// **************************************
// @Newsletter: newsletter
// **************************************

// Dimensiones
$newsletter-width: 70vw;
$newsletter-height: 50vh;

// Posiciones
body{
    font-family: $font-base;
    font-size: 2rem;
    height: 100vh;
    // Flex
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor {
    width: $newsletter-width;
    height: $newsletter-height;

    .titulo{
        text-align: center;
        color: $color-texto;
    }

    
    .newsletter{
        height: 100%;
        background: linear-gradient(to bottom, $color-degradado1, $color-degradado2);
        color: $color-texto-newsletter;
        // Flex
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__titulo{
            width: 70%;
        }
        &__form{
            width: 70%;
            display: flex;
            justify-content: space-between;

            &--input, &--btn{
                color: $color-texto-newsletter;
                background: transparent;
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                padding: 0.5em;
                margin-top: 1rem;
            }
            &--input{
                border-left: 1px solid white;
                border-right: 0;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                
                flex-grow: 1;
                &::placeholder{
                    color: $color-texto-newsletter;
                    font-weight: lighter;
                }
            }
            &--btn{
                border-right: 1px solid white;
                border-left: 0;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;

                cursor: pointer;
            }
        }
    }
}